doctype html
html(lang="en")
  head
    title="Payment Cancelled"
    link(href='/css/bootstrap.css', rel='stylesheet')
    link(href='/css/app.css', rel='stylesheet')

  body(class='d-flex flex-column bg-light')
    .container.m-auto
      div(class='placements-container bg-white rounded p-4 mx-auto border')
        div.text-center
          h5 Transaction Failed
          h6.text-muted Neque porro quisquam est qui dolorem ipsum quia dolor sit amet.
          a(class='btn btn-primary my-3', href='/placements/smb') Try Again