body, html {
  height: 100%;
  font-family: CircularAir !important;
}


ul {
  list-style: none;
  margin: 0;
  padding: 0;
}


a {
  text-decoration: none !important;
}

.placements-container {
  max-width: 500px;
}

.cp {
  cursor: pointer;
}

.img-placement {
  width: 150px;
  height: 120px;
  display: block;
}