body, html {
  height: 100%;
  font-family: CircularAir !important;
}


ul {
  list-style: none;
  margin: 0;
  padding: 0;
}


.placements-container {
  max-width: 500px;
}


.placement-item {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.placement-item:hover {
  background: #fafafa;
}